@charset "UTF-8";
/* CSS Document */
/*
セクション間余白
----------------------------------------------------------- */
section {
  padding: 75px 0;
}

footer {
  padding: 30px 0 130px;
}
.ph0.container{
  padding-left: 0;
  padding-right: 0;
}
/*
色関連
----------------------------------------------------------- */
.bg_cl1 {
  background-color: #eeeef5;
}

.bg_cl2 {
  background-color: #f3f2f2;
}

.cl_base {
  color: #018cbf;
}

.cl_white {
  color: #fff;
}

.cl_main {
  color: #fcff00;
}

.cl_accent {
  color: #4265a1;
}

.cl_other1 {
  color: #4265a1;
}

.cl_other2 {
  color: #4265a1;
}

/*
テキスト関連
----------------------------------------------------------- */
.highlight {
  background: -webkit-linear-gradient(transparent 60%, #ffd200 50%);
  background: -o-linear-gradient(transparent 60%, #ffd200 50%);
  background: linear-gradient(transparent 60%, #ffd200 50%);
  font-weight: bold;
}

/*
リンク色
----------------------------------------------------------- */
a:link,
a:visited {
  color: #162bee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
はみ出し画像中央
----------------------------------------------------------- */
.wic_wrap {
  overflow-x: hidden;
}

/* wicを使ったセクションのsectionタグに対して.wic_wrapのクラスをつける事 */
.wic img {
  width: auto;
  max-width: unset;
}

/* 中央に表示したいものにwicとwic1をつける */
.wic1 {
  margin-left: calc(50% - 1000px);
}

/*pxの部分を画像の半分の幅に変えてね！*/
.wic1 img {
  width: 2000px;
  max-width: 2000px;
}

.wic2 {
  margin-left: calc(50% - 600px);
}

.wic2 img {
  width: 1200px;
  max-width: 1200px;
}

.wic3 {
  margin-left: calc(50% - 800px);
}

.wic3 img {
  width: 1600px;
  max-width: 1600px;
}
.br_pc{
	display: block;
}
.br_sp{
	display: none;
}

/*
Page Top
----------------------------------------------------------- */
/*TOPへ戻る*/
.pagetop a {
  background-color: #009cd6;
}

/*
Header
----------------------------------------------------------- */

header .logo {
  height: 75px;
  display: flex;
  align-items: center;
  padding-right: 55px;
  background-color: #009cd6;
  position: relative;
  right: calc(50% + 130px);
}
header .logo::after {
  position: absolute;
  content: "";
  right: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 50px 0 0;
  border-color: #009cd6 transparent transparent transparent;

}
header .logo img{
  margin-left: auto;
}

header .logo2 {
  height: 75px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  background-color: #009cd6;
  position: relative;
  right: calc(50% + 10px);
}
header .logo2::after {
  position: absolute;
  content: "";
  right: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 50px 0 0;
  border-color: #009cd6 transparent transparent transparent;

}
header .logo2 img{
  margin-left: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: flex-end;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  padding-right: 0;
}

header .contact {
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: auto;
}

header .contact .contact_form a{
  background-color: #fc711b;
  padding: 5px;
  width: 140px;
  height: 72px;
  display: inline-block;
  color: #FFF;
  text-align: center;
}

header .contact .contact_form i{
  font-size: 40px;
}

header .tel {
  padding-right: 10px;
  line-height: 1.1;
}

header .contact_tel {
  font-size: 3.2rem;
}



/*
MV
----------------------------------------------------------- */
.mv{
  background-color: #FCFCFB;
  padding: 0;
}
.mv .container img{
  max-width: none;
}
/*
CTA
----------------------------------------------------------- */
.cta{
  padding: 10px 0 0;
  background: url(../img/pc_cta_bg.png) repeat-x bottom center;
}
.cta .container{
  position: relative;
}
.cta .container .img01{
  position: absolute;
  top: 90px;
  z-index: 2;
}
.cta .container .img02{
  position: relative;
  bottom: 0;
  z-index: 1;
  right: -360px;
}
.cta .contact_box{
  position: absolute;
  display: flex;
  bottom: 70px;
  z-index: 3;
}
.cta .contact_box p{
  margin-right: 15px;
}
.cta_bottom{
  background-color: #dff6ff;
}
.balloon,
.btn_img  {
  animation: balloon 3s ease infinite;
}

@keyframes balloon {
  0% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  50% { transform:translateY(-15px) }
  75% { transform:translateY(0) }
  100% { transform:translateY(-15px) }
}

/*
sec00
----------------------------------------------------------- */
.sec00{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #dff6ff;
}
/*
sec01
----------------------------------------------------------- */
.sec01{
  padding-top: 0;
  padding-bottom: 25px;
}
.sec01 h2{
  padding: 50px 0 40px;
  background: rgb(1,167,212);
  background: linear-gradient(135deg, rgba(1,167,212,1) 0%, rgba(1,132,185,1) 100%);
}
/*
sec02
----------------------------------------------------------- */
.sec02{
  padding-top: 100px;
  background: rgb(1,167,212);
  background: linear-gradient(135deg, rgba(1,167,212,1) 0%, rgba(1,132,185,1) 100%);
}

/*
sec03
----------------------------------------------------------- */
.sec03{
  background-color: #e8e8e8;
  padding-bottom: 125px;
}
.brett {
  margin-bottom: 60px;
}
.brett ul li {
  padding: 0;
  text-indent: 0;
  margin: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  line-height: 1.6;
}
.brett ul li i {
  margin-right: 15px;
  color: #1a97c5;
}
.arrow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 185px 0 185px;
  border-color: #1a97c5 transparent transparent transparent;
  margin: 0 auto;
}
/*
sec04
----------------------------------------------------------- */
.sec04{
  padding-top: 120px;
  padding-bottom: 100px;
}
.sec04 .tit{
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
}
.sec04 .tit_bg{
  position: absolute;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #1a97c5;
  position: relative;
  right: calc(50% + -390px);
}
.sec04 .tit .container{
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
}
.sec04 .tit_bg::after {
  position: absolute;
  content: "";
  right: -110px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 110px 0 0;
  border-color: #1a97c5 transparent transparent transparent;
}
@media (min-width: 960px) {
.sec04 .fx-col-40-s {
  -ms-flex-preferred-size: 37%;
  flex-basis: 37%;
  max-width: 37%;
}
.sec04 .fx-col-60-s {
  -ms-flex-preferred-size: 58%;
  flex-basis: 58%;
  max-width: 58%;
}
}

/*
sec05
----------------------------------------------------------- */
.sec05{
  padding-top: 40px;
  background-color: #1a97c5;
  padding-bottom: 140px;
}
.sec05 .box {
  width: 315px;
}
.sec05 .re{
  color: #FFF;
  margin-left: 20px;
  line-height: 1;
}
.sec05 .box .tit{
  background-color: #dff6ff;
  border-radius: 10px 10px 0 0;
  padding: 20px 0 20px 20px;
}
.sec05 .box .txt{
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  font-size: 16px;
  height: 300px;
}
.sec05 .box_wrap{
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.sec05 .box_wrap .box_inner{
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 30px;
}
/*
sec06
----------------------------------------------------------- */
.sec06 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.sec06 .img02{
  position: absolute;
  z-index: 2;
  right: 0;
  top: 70px;
}
.sec06 table {
  width: 600px;
}
.sec06 table th{
  background-color: #30a1cb;
  color: #FFF;
  font-size: 30px;
  border-bottom: 5px solid #FFF;
}
.sec06 table th:first-child{
  width: 260px;
}
.sec06 table td{
  background-color: #f0f0f0;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 5px solid #FFF;
}
.sec06 table td:first-child{
  padding-left: 100px;
}
.sec06 table td:last-child{
  padding-right: 80px;
  text-align: right;
}
/*
sec07
----------------------------------------------------------- */
.sec07{
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #dff6ff;
}
/*
sec08
----------------------------------------------------------- */
.sec08{
  padding: 150px 0;
  background: url(../img/pc_sec08_bg.png) no-repeat top center;
  background-size: cover;
}
.sec08 .tit{
  background-color: #e81929;
  padding: 40px;
}
.sec08 .txt{
  background-color: #fff;
  padding: 50px 30px 60px;
}
/*
sec09
----------------------------------------------------------- */
.sec09{
  padding-top: 120px;
  padding-bottom: 100px;
  background: url(../img/pc_sec09_bg.png) #e8e8e8 no-repeat;
  background-position: calc(50% - -520px) bottom;
}
.sec09 .brett {
  margin-bottom: 0;
}
/*
sec10
----------------------------------------------------------- */
.sec10{
  padding-top: 130px;
  padding-bottom: 160px;
  background-color: #dff6ff;
}
.sec10 .mb70{
  margin-bottom: 70px;
}
.sec10 .txt{
  margin-left: 20px;
  margin-right: 20px;
}
/*
sec11
----------------------------------------------------------- */
.sec11{
  background: rgb(1,167,212);
  background: linear-gradient(135deg, rgba(1,167,212,1) 0%, rgba(1,132,185,1) 100%);
}
.sec11 .txt{
  margin-left: 30px;
}
/*
sec12
----------------------------------------------------------- */
.sec12{
  padding-top: 155px;
  padding-bottom: 60px;
}
.qa .q .txt {
  font-size: 24px;
}
.qa .a {
  margin-bottom: 30px;
}
.qa .a:last-of-type {
  margin-bottom: 0;
}
.qa .box .icon{
  font-weight: bold;
  font-size: 24px;
  margin-left: 15px;
}
.qa .box .q{
  background-color: #1a97c5;
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  padding: 17px 15px 10px;
}
.qa .box .a {
  padding: 30px 15px;
  line-height: 2;
}
.qa .box .a .icon{
  color: #1a97c5;
  line-height: 1em;
}
.qa .box_item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 0;
}
.qa .qq .txt {
  margin: 0 auto;
}
.qa .icon {
  width: 50px;
  flex-shrink: 0;
}
/*
sec13
----------------------------------------------------------- */
.sec13{
  padding-top: 100px;
  background: rgb(1,167,212);
  background: linear-gradient(135deg, rgba(1,167,212,1) 0%, rgba(1,132,185,1) 100%);
}
.sec13 .cl_white{
  border-top: 1px solid #FFF;
  padding-top: 30px;
}
@media (min-width: 960px) {
.sec13 .fx-col-30-s {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  max-width: 33%;
}
.sec13 .fx-col-70-s {
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
  max-width: 67%;
}
}
/*
sec14
----------------------------------------------------------- */
.sec14{
  padding-top: 100px;
}
/*
sec15
----------------------------------------------------------- */
.sec15{
  background-color: #dff6ff;
}
/*
sec16
----------------------------------------------------------- */
.sec16{
  padding-top: 100px;
  background: rgb(1,167,212);
  background: linear-gradient(135deg, rgba(1,167,212,1) 0%, rgba(1,132,185,1) 100%);
}
.sec16 h2{
  padding-bottom: 40px;
}
/*
sec17
----------------------------------------------------------- */
.sec17 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.sec17 .tar img{
  margin-left: auto;
}
/*
sec18
----------------------------------------------------------- */
.sec18{
  padding-top: 100px;
  background-color: #dff6ff;
}
.sec18 .table ul{
  display: flex;
  flex-wrap: wrap;
}

.sec18 .table ul li{
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.sec18 .table .table_head{
  color: #fff;
  font-weight: bold;
  width: 235px;
  background-color: #1a97c5;
  margin-bottom: 1px;
  align-items: center;
  padding-left: 25px;
}
.sec18 .table .table_body {
  width: calc(100% - 235px);
  border-top: 0;
  background-color: #fff;
  margin-bottom: 1px;
  padding-left: 40px;
}

/*
sec20
----------------------------------------------------------- */
.fx-row li p {
  background-color: skyblue;
}

.fx-row-gutter-s {
  margin-left: -8px;
  margin-right: -8px;
}

.fx-row-gutter-s .f_item {
  padding-left: 8px;
  padding-right: 8px;
}

.fx-row-gutter-xs {
  margin-left: -5px;
  margin-right: -5px;
}

.fx-row-gutter-xs li {
  padding-left: 5px;
  padding-right: 5px;
}

/*
Footer
----------------------------------------------------------- */
footer{
  border-top: 4px solid #1a97c5;
}
.footer_nav1 {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 15px;
}
.footer_nav1 li:after{
  content: "|";
  padding-left: 15px;
}
.footer_nav1 li:last-child:after{
  display: none;
}

footer .copy {
  text-align: center;
}

footer a:link, footer a:visited {
  color: #000;
  transition: all .3s;
}

footer a:hover, footer a:focus {
  color: #000;
  opacity: .7;
}

footer ul li {
  display: inline-block;
  margin: 0 5px;
  white-space: nowrap;
}

footer .copy {
  font-size: 90%;
}


/*
About
----------------------------------------------------------- */
#about {
/*    margin: 60px auto;*/
}
#about .container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
h1.sub-ttl {
	font-weight: bold;
    position: relative;
    margin-bottom: 35px;
    padding-left: 20px;
    font-size: 24px;
}
h1.sub-ttl:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #023180;
}
#about dl {
    font-size: 20px;
    border: 1px solid #023180;
}
#about dl div {
    display: flex;
}
#about dl dt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px 0;
    font-weight: bold;
    background: #DEE9F6;
    border-right: 1px solid #023180;
}
#about dl dd {
    width: 75%;
    padding: 20px 40px;
}
#about dl div + div {
    border-top: 1px solid #023180;
}
#about a {
    color: inherit;
    text-decoration: none;
}

/*
Policy
----------------------------------------------------------- */
#policy {
/*    margin-top: 150px;*/
}
#policy .container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
#policy p {
    font-size: 16px;
    line-height: 2;
}
#policy .policy-box {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #023180;
}
#policy .policy-box .policy-txt {
    margin-bottom: 30px;
}
#policy .policy-box ul {
    font-size: 14px;
    line-height: 2;
    list-style: none;
}
#policy .policy-box ul ul {
    padding-left: 20px;
}
.flex{
	display: flex;
	justify-content: flex-end;
}
.center{
	margin: 0 auto;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}

.btm_fix .box{
  padding-right: 25px;
  padding-left: 25px;
}
.btm_fix .fx-row .f_item{
  padding-left: 8px;
  padding-right: 8px;
}
.btm_fix {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 998;
}

/*2024.12.5追加CSS*/
.link-custom {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.link-custom p {
    padding-bottom: 10px;
}
.link-custom a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 340px;
    padding: 13px 25px;
    color: #333;
    font-family: "Noto Sans Japanese";
    text-decoration: none;
    color: #fff;
    line-height: 1.8;
    transition: all 0.3s;
    font-weight: 600;
    background: #1a97c5;
    border-radius: 9999px;
    border-bottom: solid 5px #3b6270;
}
.link-custom a:hover {
    margin-top: 3px;
    border-bottom: solid 2px #3b6270;
}
.sp-br {
    display: none;
}

@media screen and (max-width: 767px){
.link-custom {
    margin-top: 60px;
    font-size: 18px;
}
.sp-br {
    display: block;
}
.baner{
  flex-direction: column;
  gap: 20px;
}
.baners{
  width: 100% !important;
}
}